:root {
  --cool: "Major Mono Display", monospace;
}

* {
  margin: 0.5px;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1d2951;
  background-image: linear-gradient(to left, #1d2951, #dbe7fc);
  background-size: cover;
}

header,
nav * {
  display: flex;
  background-color: #0f1438;
  position: relative;
  padding: 4px;
}

h1 {
  display: flex;
  width: 50%;
  margin: auto;
  padding: 4px;
  color: white;
  font-family: var(--cool);
  font-size: 20px;
  background-color: #0f1438;
}

.navbar {
  display: flex;
  justify-content: end;
  align-items: center;
  list-style: none;
  gap: 3rem;
  background-color: #0f1438;
}

nav ul li a {
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
  color: white;
  font-family: var(--cool);
}

nav ul li a:hover {
  color: rgb(219, 148, 219);
}

#front-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  width: 500px;
  height: 475px;
  border-radius: 100%;
  border-left: 7px solid #013220;
  border-right: 7px solid #ffd700;
  padding: 3%;
}

.front-page-info {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 40px;
  font-family: var(--cool);
  color: black;
  margin: 2%;
}

.titles {
  font-size: 36px;
  font-family: var(--cool);
  margin: 4% 0;
}

.btn {
  width: 175px;
  height: 35px;
  font-size: 15px;
  color: white;
  background-color: rgb(5, 29, 36);
  border-radius: 23px;
  justify-content: left;
}

.btn:hover {
  font-size: 17px;
  color: white;
  background-color: rgb(39, 27, 204);
}

.about-information {
  display: flex;
  justify-content: center;
  align-content: center;
}

.container-about {
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 45px;
}

#about-me {
  text-align: center;
}

.container-about p {
  position: relative;
  font-size: 25px;
  word-spacing: 0.2cm;
}

#avatar-img {
  width: 215px;
  height: 215px;
}

#cv {
  margin-left: 5%;
  margin-right: auto;
}

#portfolio-header,
#contact-header {
  width: 100%;
  text-align: center;
  align-content: center;
}
.portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  color: black;
  margin: 1% 0;
}

.container-project {
  position: relative;
  width: 40%;
}

.project-image {
  display: block;
  width: 455px;
  height: 400px;
}

.project-overlay {
  position: absolute;
  bottom: 0;
  width: 68%;
  height: 45%;
  overflow: hidden;
  background-color: rgba(15, 2, 65, 0.6);
  transition: all 1s ease-out;
}

.container-project:hover .project-overlay {
  color: rgb(219, 148, 219);
  background-color: rgb(14, 0, 70);
  height: 50%;
}

.container-project:hover .project-title {
  margin: auto;
  padding: 50px;
  color: rgb(219, 148, 219);
}

.project-title {
  position: absolute;
  width: 100%;
  color: white;
  font-size: 25px;
  text-align: center;
  margin: auto;
  padding: 50px;
  font-family: var(--cool);
}

.contact-information {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}

.container-contact h3 {
  font-size: 20px;
  font-weight: bolder;
}

.container-contact li {
  padding: 5px;
  font-size: 20px;
  list-style: none;
}

#send-message {
  font-size: 20px;
  font-weight: bolder;
}

.logos {
  width: 35px;
  height: 35px;
}

form p {
  display: table;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

label {
  display: table-row;
}

form input {
  display: flex;
  width: 500px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  color: black;
}

form textarea {
  width: 500px;
  height: 150px;
}

@media screen and (max-width: 700px) {
  * p {
    font-size: 13px;
  }
  .navbar {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  #front-img {
    width: 200px;
    height: 175px;
  }

  #avatar-img {
    width: 150px;
    height: 125px;
  }

  .project-image {
    width: 100%;
  }

  .project-overlay {
    bottom: 0;
    width: 55%;
    height: 5%;
  }
  .project-title {
    font-size: 12px;
  }

  form input {
    display: flex;
    width: 150px;
    height: 30px;
  }

  form textarea {
    width: 150px;
    height: 150px;
  }
}
